@media screen and (max-width:1200px){
	.device{left:20%;top:-36px;}
	footer li{margin-right:10%;}
}
@media screen and (max-width:991px){
	.device{display:none;}
	.screenshots ul li{width:50%;}
	.screenshots-intro{padding:110px 0 100px 0;}
	.feature {width:90%; padding-bottom: 0px;}
	.use-btn{margin-top:60px;}
}
@media screen and (max-width:680px){
	
}
@media screen and (max-width:640px){
	.learn-btn{display:none;}
	footer li{display:block;text-align:left;padding:20px 0;border-bottom:dashed 1px #c7cacc;margin-right:0!important;float:none;}
	nav{margin-top:40px;}
	.content{width: 400px; text-align: center; }
}
@media screen and (max-width:465px){
	.hero h1{font-size:14px;margin:100px 0 45px 0}
	section.video i{font-size:30px;}
	section.video h1{font-size:15px;font-weight:400;}
	section.video{padding:40px;}
	.feature-content {width:70%;text-align:center;}
	.feature-icon{display:block;margin:0 auto;}
	.image3{display:none;}
	.content{width: 500px}
	blockquote p{width:60%;}
}