<header class="navbar navbar-fixed-top">
      <div class="container">
        <div class="col-md-6 col-xs-6 text-left">
          <a href="index.html"><img src="assets/images/logo_small.png"></a>
        </div>
        <div ng-show="!logged" class="col-md-6 col-xs-6 text-right">
          <a ng-click="showModal()"><span>Créer mon compte</span></a>
        </div>
        <div ng-show="logged" class="col-md-6 col-xs-6 text-right">
          <span>{{user.name}}</span>
          <img width="30px" style="border-radius:20px" src="{{user.profilepic}}">
        </div>
      </div>  

    </header> 

    <section class="sub-menu">
      <div class="container">
        <div class="sub-menu">
          <div class="col-md-8 col-xs-6 text-left">
              <h1>Ton dashboard</h1>
          </div>  
          <!-- <div class="col-md-4 col-xs-6 text-right">
             <ul class="nav nav-pills">
                <li role="recent" class="active"><a href="#">Recent</a></li>
                <li role="prix"><a href="#">Prix</a></li>
                <li role="presentation"><a href="#">Populaire</a></li>
            </ul>
          </div> -->
        </div>
      </div>  
    </section>  

    <section class="results" id="login">
      <div class="container">
        <div ng-show="!logged" class="subscriber-banner">
          <div class="row">
            <div class="subscriber-content col-md-8 col-xs-12 text-left">
              <p>Accède à toutes les fonctionnalités de recherches en créant ton compte sur Helmut.<strong> GRATUITEMENT</strong>.</p>
            </div>  
            <div class="col-md-4 col-xs-12 text-right">
              <a class="join-btn" ng-click="showModal()">Créer mon compte</a>
            </div>  
          </div>  
        </div>
      </div>

      <div class="container">
        <div class="row">
          <div class="offres">
            <div class="col-xs-12 col-md-4">
              <a ng-click="showModal()" class="thumbnail">
                <img src="assets/images/01.jpg" alt="...">
                  <ul class="list-unstyled">
                <li><h2 id="Titre">BMW Serie 3</h2></li>
                <li><span class="Price" id="Price">20.000 Euros</span></li>
                <li><p id="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui.</p></li>
              </ul>
              </a>
            </div> 
            <div class="col-xs-12 col-md-4">
              <a ng-click="showModal()" class="thumbnail">
                <img src="assets/images/01.jpg" alt="...">
                  <ul class="list-unstyled">
                <li><h2 id="Titre">BMW Serie 3</h2></li>
                <li><span class="Price" id="Price">20.000 Euros</span></li>
                <li><p id="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui.</p></li>
              </ul>
              </a>
            </div> 
            <div class="col-xs-12 col-md-4">
              <a ng-click="showModal()" class="thumbnail">
                <img src="assets/images/01.jpg" alt="...">
                  <ul class="list-unstyled">
                <li><h2 id="Titre">BMW Serie 3</h2></li>
                <li><span class="Price" id="Price">20.000 Euros</span></li>
                <li><p id="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui.</p></li>
              </ul>
              </a>
            </div> 
          </div>
        </div>
      </div>  
      <div class="container">
        <div class="row">
          <div class="offres">
            <div class="col-xs-12 col-md-4">
              <a ng-click="showModal()" class="thumbnail">
                <img src="assets/images/01.jpg" alt="...">
                  <ul class="list-unstyled">
                <li><h2 id="Titre">BMW Serie 3</h2></li>
                <li><span class="Price" id="Price">20.000 Euros</span></li>
                <li><p id="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui.</p></li>
              </ul>
              </a>
            </div> 
            <div class="col-xs-12 col-md-4">
              <a ng-click="showModal()" class="thumbnail">
                <img src="assets/images/01.jpg" alt="...">
                  <ul class="list-unstyled">
                <li><h2 id="Titre">BMW Serie 3</h2></li>
                <li><span class="Price" id="Price">20.000 Euros</span></li>
                <li><p id="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui.</p></li>
              </ul>
              </a>
            </div> 
            <div class="col-xs-12 col-md-4">
              <a ng-click="showModal()" class="thumbnail">
                <img src="assets/images/01.jpg" alt="...">
                  <ul class="list-unstyled">
                <li><h2 id="Titre">BMW Serie 3</h2></li>
                <li><span class="Price" id="Price">20.000 Euros</span></li>
                <li><p id="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui.</p></li>
              </ul>
              </a>
            </div> 
          </div>
        </div>
      </div>  
      <div class="container">
        <div class="row">
          <div class="offres">
            <div class="col-xs-12 col-md-4">
              <a ng-click="showModal()" class="thumbnail">
                <img src="assets/images/01.jpg" alt="...">
                  <ul class="list-unstyled">
                <li><h2 id="Titre">BMW Serie 3</h2></li>
                <li><span class="Price" id="Price">20.000 Euros</span></li>
                <li><p id="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui.</p></li>
              </ul>
              </a>
            </div> 
            <div class="col-xs-12 col-md-4">
              <a ng-click="showModal()" class="thumbnail">
                <img src="assets/images/01.jpg" alt="...">
                  <ul class="list-unstyled">
                <li><h2 id="Titre">BMW Serie 3</h2></li>
                <li><span class="Price" id="Price">20.000 Euros</span></li>
                <li><p id="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui.</p></li>
              </ul>
              </a>
            </div> 
            <div class="col-xs-12 col-md-4">
              <a ng-click="showModal()" class="thumbnail">
                <img src="assets/images/01.jpg" alt="...">
                  <ul class="list-unstyled">
                <li><h2 id="Titre">BMW Serie 3</h2></li>
                <li><span class="Price" id="Price">20.000 Euros</span></li>
                <li><p id="Description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras sed sapien quam. Sed dapibus est id enim facilisis, at posuere turpis adipiscing. Quisque sit amet dui dui.</p></li>
              </ul>
              </a>
            </div> 
          </div>
        </div>

        <div class="pagination col-md-12 col-xs-12 text-center" id="pagination">
          <nav>
            <ul class="pagination">
              <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
              <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
              <li class="inactive"><a href="#">2 <span class="sr-only">(current)</span></a></li>
              <li class="inactive"><a href="#">3 <span class="sr-only">(current)</span></a></li>
              <li class="inactive"><a href="#">4 <span class="sr-only">(current)</span></a></li>
              <li><a href="#" aria-label="Next"><span aria-hidden="true">&raquo;</span></a></li>
            </ul>
          </nav>
        </div>

      </div>      


            
      


    </section>  

    <footer class="footer">
      <div class="col-md-12 text-center">
        <img src="assets/images/logo-black.png">
        <p>Ta perle rare à portée de click</p>
        <img src="assets/images/love.png" style="margin-right:5px"><span><strong>Made in Munich</strong></span>
        <p>© Helmut SA 2015 - Tous droits réservés</p>
      </div>
    </footer>
        

     <!-- Modal Connexion -->
      <div class="modal fade" id="connexion" role="dialog">
        <div class="modal-dialog">
        
          <!-- Modal content-->
          <div class="modal-content col-md-12 text-center">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
           </div>
            <div class="modal-body">
              <img src="assets/images/bientot.png">
              <p>En créant un compte sur Helmut, accède à toutes les fonctionnalités de recherche de voitures.<br><br> SIMPLE et COLLABORATIF.</p>
                <div class="facebookconnect">
                  <fb:login-button scope="public_profile,email" onlogin="checkLoginState()">Se connecter avec Facebook</fb:login-button><br><br>
                <div id="status">
                  </div>
              </div>
              <span><strong>Gratuit</strong>.</span>
            </div>
          </div>
          </div>
        </div>  


        <!-- Modal Welcome -->
        <!-- <div class="modal fade" id="welcome" role="dialog">
          <div class="modal-dialog">

            
            <div class="modal-content col-md-12 text-center">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <img src='profile_pic'>
                <p>'status'</p>
              </div>
            </div>
          </div>
        </div> -->